 @font-face {

     font-family: Hariston;

     src: url(../fonts/Hariston/Hariston.woff);

     font-weight: normal;

}



html,body{

  height: 100%;

  text-align: center;

  background: #fff;

  font-family: 'arial', sans-serif;



  color: #fff;

  position: relative;

  min-height:500px;

}



body{

  display: flex;

  align-items: center;

  justify-content: center;
  
  height: 100%;

  width: 100%;

}



.backgroundimg {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

#back1 {
    background: url("../images/bg1.jpg") no-repeat top center fixed;

}

#back2 {
    background: url("../images/bg2.jpg") no-repeat top center fixed;
}

#back3 {
    background: url("../images/bg3.jpg") no-repeat top center fixed;
}

#back4 {
    background: url("../images/bg4.jpg") no-repeat top center fixed;
}

#back5 {
    background: url("../images/bg5.jpg") no-repeat top center fixed;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#backgroundchange div:nth-of-type(1) {
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 9s;
  -webkit-animation-delay: 9s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

#backgroundchange div {
animation-name: backgroundchangeFadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 16s;

-webkit-animation-name: backgroundchangeFadeInOut;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
-webkit-animation-duration: 16s;

}




a{

  text-decoration: none;

  color: inherit;

}



a:hover{

  text-decoration: none;

  color: inherit;

}



.title {

/*font-family: 'Vollkorn', sans-serif;*/

font-size: 20vw;

  font-family: Hariston,"Times New Roman", Times, serif;

text-transform: capitalize;
color: #fff
text-shadow: 0px 2px 6px rgba(255, 255, 255, 0.5);
position: absolute;
z-index: 2;
}



.desc {

  margin-top: 50%;

letter-spacing: 2px;

font-size: 1.2em;

text-transform: lowercase;

font-style: italic;

margin-bottom: 0;

}



.footer {

  margin-top: 2em;

  padding-bottom: 10px;

  font-style: 0.750em;

  position: absolute;

  bottom: 0;

}



.footer  a{

  padding-top: 10px;

  text-align: center;

  color: #fff;

text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);

  }


/* Fade-in */



/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



.fade-in {

  opacity:0;  /* make things invisible upon start */

  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  -moz-animation:fadeIn ease-in 1;

  animation:fadeIn ease-in 1;



  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  -moz-animation-fill-mode:forwards;

  animation-fill-mode:forwards;



  -webkit-animation-duration:2s;

  -moz-animation-duration:2s;

  animation-duration:2s;

}




@media (min-width: 1200px) {
  .title{ color:yellow;
	 }

 }



 @media (max-width: 1200px) {
  .title{ color:purple;
	 }

	}



}





 @media (max-width: 992px) {

  .title{font-size: 60vw;
	  color:red;
	 }




 @media (max-width: 768px) {

	.title{font-size: 60vw;
		color:blue;
	 }


.footer  a{ padding: 1.5vw 0;}

#back1 {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg1.jpg),#fff; /* FF3.6-15 */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg1.jpg),#fff; /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg1.jpg),#fff; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */



}

#back2 {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg2.jpg),#fff; /* FF3.6-15 */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg2.jpg),#fff; /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg2.jpg),#fff; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}

#back3 {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg3.jpg),#fff; /* FF3.6-15 */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg3.jpg),#fff; /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg3.jpg),#fff; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#back4 {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg4.jpg),#fff; /* FF3.6-15 */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg4.jpg),#fff; /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg4.jpg),#fff; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


#back5 {

  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.75) 100%),url(../images/bg5.jpg),#fff; /* FF3.6-15 */

  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg5.jpg),#fff; /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.75) 100%),url(../images/bg5.jpg),#fff; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}



}

